:root{
    --rojo:#85120e;
    --naranja:#b9712d;
    --gris:#2b3a49;
    --claro:#f8f9fa;
    --oscuro:#171717;
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:var(--claro);
}

/* ================= NAVBAR ================= */

header{
    background:var(--gris);
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.logo span{
    color:var(--naranja);
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:var(--naranja);
}

/* ================= HERO ================= */

.hero{
    background:url("Imagenes/Home.png") center/cover no-repeat;
    height:90vh;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    color:white;
    padding:60px;
}

.hero-content{
    background:rgba(0,0,0,0.6);
    padding:40px;
    border-radius:10px;
    max-width:500px;
}

.hero h1{
    font-size:40px;
    margin-bottom:15px;
}

.hero span{
    color:var(--naranja);
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:12px 25px;
    background:var(--rojo);
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:var(--naranja);
}
/* ================= BANNER SECUNDARIO ================= */

.banner-secundario{
    background:url("Imagenes/Fondo2.png") center/cover no-repeat;
    height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.banner-secundario::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.contenido-banner{
    position:relative;
    color:white;
    text-align:center;
    font-size:28px;
}
/* ================= SECCIONES ================= */

.section{
    padding:60px 40px;
    text-align:center;
}

.section h2{
    font-size:32px;
    margin-bottom:40px;
}

.section span{
    color:var(--rojo);
}

/* ================= PRODUCTOS ================= */

.productos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

/* ================= TARJETAS ================= */

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s ease;
    text-align:center;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.card img{
    width:75%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:15px;
}

.card h3{
    margin-bottom:10px;
}

.precio{
    font-size:20px;
    color:var(--naranja);
    font-weight:bold;
    margin:10px 0;
}

.detalle{
    font-size:14px;
    margin-bottom:15px;
}

.btn-comprar{
    padding:10px 20px;
    border:none;
    background:var(--rojo);
    color:white;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
    font-weight:bold;
}

.btn-comprar:hover{
    background:var(--naranja);
}

/* ================= CONTACTO ================= */

.contacto{
    background:var(--gris);
    color:white;
    padding:40px;
    text-align:center;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
    font-size:14px;
}

/* ================= MODAL ================= */

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(5px);
    justify-content:center;
    align-items:center;
}

.modal-contenido{
    background:#bdb8b8;
    padding:50px;
    width:400px;
    border-radius:50px;
    text-align:center;
    position:relative;
    animation:aparecer 1s ease;
}

.img-modal{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
    margin:15px 0;
}

.cerrar{
    position:absolute;
    top:10px;
    right:15px;
    font-size:25px;
    cursor:pointer;
}

@keyframes aparecer{
    from{transform:scale(0.8); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

/* ================= RESPONSIVE ================= */

@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        margin-top:10px;
    }

    .hero{
        padding:30px;
        height:70vh;
    }

    .hero h1{
        font-size:28px;
    }

}

.fondo-secundaria {
    background-image: url("Imagenes/Home.png    "); /* Ruta de la imagen de fondo */
    background-size: cover;       /* Ajusta la imagen a toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* No se repite */
    background-attachment: fixed; /* Efecto tipo fijo */
}


.btn-nav{
    display:inline-block;
    background:#ff6600;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.btn-nav:hover{
    background:#cc5200;
    transform:scale(1.05);
}